@use '../../../vars';
@use '../../../mixins';

div.notification-container {
  @include mixins.flex(space-between, flex-start);
  position: fixed;
  bottom: 2%;
  right: 1.5%;
  max-width: 400px;
  font-size: 1.05rem;
  padding: 1em 1.4em;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translateX(200%);
  transition: transform 0.5s ease-out;
  &.show-notification {
    transform: translateX(0%);
  }
}

div.notification-container .status-container {
  @include mixins.flex(flex-start, flex-start);
  width: 90%;
}

div.notification-container .status-icon-container {
  background-color: #d4d4d4;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  margin-right: 1.15rem;
  position: relative;
  font-size: 0.65rem;
  svg {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.success {
    background-color: rgba(51, 255, 0, 0.26);
    svg {
      color: #1aa483;
    }
  }
  &.warning {
    background-color: rgba(255, 138, 0, 0.26);
    svg {
      color: #a45c1a;
    }
  }
  &.error {
    background-color: rgba(255, 0, 0, 0.26);
    svg {
      color: #a41a1a;
    }
  }
}

div.notification-container .status-msg-container {
  min-width: 200px;
  h5 {
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.4rem;
  }
  p {
    font-size: 0.925rem;
    line-height: 1.3;
    color: #707070;
  }
}

div.notification-container .close-icon-container {
  min-width: 15px;
  min-height: 15px;
  position: relative;
  cursor: pointer;
  .slash {
    position: absolute;
    width: 20px;
    height: 1.5px;
    background-color: #d4d4d4;
  }
  .slash.forward {
    top: 0;
    left: 1px;
    transform-origin: top left;
    transform: rotate(45deg);
  }
  .slash.reverse {
    bottom: -0.75px;
    transform-origin: top left;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 1200px) {
  div.notification-container {
    max-width: 350px;
    font-size: 1rem;
  }

  div.notification-container .status-msg-container p {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 991px) {
  div.notification-container {
    max-width: 300px;
    font-size: 0.9rem;
  }

  div.notification-container .status-msg-container p {
    font-size: 0.8rem;
  }

  div.notification-container .close-icon-container {
    min-width: 12.5px;
    min-height: 12.5px;
    position: relative;
    cursor: pointer;
    .slash {
      position: absolute;
      width: 17.5px;
      height: 1.5px;
      background-color: #d4d4d4;
    }
    .slash.forward {
      top: 0;
      left: 1px;
      transform-origin: top left;
      transform: rotate(45deg);
    }
    .slash.reverse {
      bottom: -0.75px;
      transform-origin: top left;
      transform: rotate(-45deg);
    }
  }
  div.notification-container .status-icon-container {
    background-color: #d4d4d4;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    margin-right: 1.15rem;
    position: relative;
    font-size: 0.55rem;
  }
}
// @media screen and (max-width: 767px) {}
// @media screen and (max-width: 575px) {}
