@use '../../../vars';
@use '../../../mixins';

section.all-tours-content-container {
  padding: 4rem 0;
}

section.all-tours-content-container .all-tours-container {
  width: 92.5%;
  margin: 0 auto;
}

section.all-tours-content-container .all-tours-info {
  @include mixins.flex(space-between, flex-start);
  h3 {
    position: relative;
    &::after {
      @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      position: absolute;
    }
  }
}

section.all-tours-content-container .all-tours {
  @include mixins.flex(space-between, center);
  flex-wrap: wrap;
  row-gap: 3rem;
}

section.all-tours-content-container .all-tours.few {
  @include mixins.flex(flex-start, center);
  column-gap: 2.9rem;
}

section.all-tours-content-container .all-tours-container > button {
  @include mixins.button(#fff, vars.$primary-color, 1rem, 1em, 5px, none, 100%);
  margin-top: 3rem;
  transition: background-color 0.2s;
  &:hover {
    background-color: vars.$secondary-color;
  }
}

@media screen and (max-width: 1200px) {
  section.all-tours-content-container {
    padding: 3rem 0;
  }

  section.all-tours-content-container .all-tours {
    row-gap: 2rem;
  }

  section.all-tours-content-container .all-tours.few {
    column-gap: 2.1rem;
  }

  section.all-tours-content-container .all-tours-container > button {
    font-size: 0.9rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 991px) {
  section.all-tours-content-container {
    padding: 2.5rem 0;
  }
}

@media screen and (max-width: 767px) {
  section.all-tours-content-container {
    padding: 2rem 0;
  }

  section.all-tours-content-container .all-tours {
    row-gap: 1.5rem;
  }

  section.all-tours-content-container .all-tours.few {
    column-gap: 1.15rem;
  }

  section.all-tours-content-container .all-tours-container > button {
    font-size: 0.7rem;
    margin-top: 1.75rem;
  }
}

@media screen and (max-width: 575px) {
  section.all-tours-content-container .all-tours-container {
    width: 90%;
  }

  section.all-tours-content-container .all-tours-info {
    @include mixins.flex(center, flex-start, column);
    h3 {
      margin-bottom: 1.75rem;
    }
  }

  section.all-tours-content-container .all-tours {
    row-gap: 1.5rem;
  }

  section.all-tours-content-container .all-tours.few {
    column-gap: 1.15rem;
  }

  section.all-tours-content-container .all-tours-container > button {
    font-size: 0.9rem;
    margin-top: 1.75rem;
  }
}
