@use '../../../vars';
@use '../../../mixins';

section.tour-showcase .main-container {
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.075);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

section.tour-showcase .images-container {
  z-index: 0;
  min-height: 700px;
  height: 1px;
  .slide {
    height: 100%;
    width: 100%;
    display: none;
    animation: fade 0.5s forwards;
  }
  .loader {
    height: 100%;
    width: 100%;
    animation: pulse 1.5s forwards infinite;
  }
}

section.tour-showcase .slider {
  position: absolute;
  top: 0;
  width: 20%;
  bottom: 0;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;
  z-index: 2;
  animation: initialShow 3s;
  &:hover {
    opacity: 1;
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.9rem;
    max-width: 1.25rem;
    color: #fff;
  }
  &.previous-slider {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    left: 0;
    svg {
      left: 10%;
    }
  }
  &.next-slider {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    );
    right: 0;
    svg {
      right: 10%;
    }
  }
}

section.tour-showcase .tour-info-container {
  position: absolute;
  top: 7.5%;
  left: 20%;
  transform: translate(-20%, -15%);
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1.25rem 1.75rem;
  min-width: 24%;
  border-radius: 5px;
  z-index: 2;
  h2 {
    font-size: 1.5rem;
    margin-right: 3.5rem;
    line-height: 1.6;
    letter-spacing: 0.085em;
    color: #fff;
  }
  h3 {
    color: #eeeeee;
    font-weight: 400;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1200px) {
  section.tour-showcase .images-container {
    min-height: 575px;
  }

  section.tour-showcase .slider svg {
    font-size: 1.7rem;
    max-width: 1rem;
  }

  section.tour-showcase .tour-info-container {
    padding: 0.8rem 1.75rem;
    h2 {
      font-size: 1.3rem;
      margin-right: 2rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  section.tour-showcase .images-container {
    z-index: 0;
    min-height: 575px;
    height: 1px;
    .slide {
      height: 100%;
      width: 100%;
      display: none;
      animation: fade 0.5s forwards;
    }
    .loader {
      height: 100%;
      width: 100%;
      animation: pulse 1.5s forwards infinite;
    }
  }

  section.tour-showcase .slider {
    position: absolute;
    top: 0;
    width: 20%;
    bottom: 0;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    cursor: pointer;
    z-index: 2;
    animation: initialShow 3s;
    &:hover {
      opacity: 1;
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      max-width: 1.25rem;
      color: #fff;
    }
    &.previous-slider {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.25)
      );
      left: 0;
      svg {
        left: 15%;
      }
    }
    &.next-slider {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.25)
      );
      right: 0;
      svg {
        right: 15%;
      }
    }
  }

  section.tour-showcase .tour-info-container {
    position: absolute;
    top: 7.5%;
    left: 20%;
    transform: translate(-20%, -15%);
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.75rem 1.5rem;
    min-width: 24%;
    border-radius: 5px;
    z-index: 2;
    h2 {
      font-size: 1.2rem;
      margin-right: 1.75rem;
      line-height: 1.6;
      letter-spacing: 0.085em;
      color: #fff;
    }
    h3 {
      color: #eeeeee;
      font-weight: 400;
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 767px) {
  section.tour-showcase .images-container {
    z-index: 0;
    min-height: 350px;
    height: 1px;
    .slide {
      height: 100%;
      width: 100%;
      display: none;
      animation: fade 0.5s forwards;
    }
    .loader {
      height: 100%;
      width: 100%;
      animation: pulse 1.5s forwards infinite;
    }
  }

  section.tour-showcase .slider {
    position: absolute;
    top: 0;
    width: 25%;
    bottom: 0;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    cursor: pointer;
    z-index: 2;
    animation: initialShow 3s;
    &:hover {
      opacity: 1;
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.3rem;
      max-width: 1.25rem;
      color: #fff;
    }
    &.previous-slider {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.25)
      );
      left: 0;
      svg {
        left: 15%;
      }
    }
    &.next-slider {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.25)
      );
      right: 0;
      svg {
        right: 15%;
      }
    }
  }

  section.tour-showcase .tour-info-container {
    position: absolute;
    top: 7.5%;
    left: 20%;
    transform: translate(-20%, -15%);
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.5rem 1.25rem;
    min-width: 24%;
    border-radius: 5px;
    z-index: 2;
    h2 {
      font-size: 0.9rem;
      margin-right: 1rem;
      line-height: 1.6;
      letter-spacing: 0.085em;
      color: #fff;
    }
    h3 {
      color: #eeeeee;
      font-weight: 400;
      font-size: 0.7rem;
    }
  }
}
// @media screen and (max-width: 575px) {}
