@use '../../../vars';
@use '../../../mixins';

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

header .main-container {
  @include mixins.flex(center, center);
}

header h1.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  span {
    color: vars.$primary-color;
  }
}

header nav {
  min-width: 40%;
  ul {
    @include mixins.flex(space-between, center);
    list-style: none;
    li {
      font-size: 1rem;
      padding: 1.1em 0;
    }
    li a {
      color: #000;
      transition: 0.2s color;
      position: relative;
    }
    li a:hover {
      color: vars.$primary-color;
    }
    li.selected a {
      color: vars.$primary-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  header h1.logo {
    font-size: 1.3rem;
  }

  header nav ul li {
    font-size: 0.975rem;
    padding: 1em 0;
  }
}
@media screen and (max-width: 991px) {
  header h1.logo {
    font-size: 1.4rem;
  }
  header nav {
    min-width: 50%;
  }

  header nav ul li {
    font-size: 1.05rem;
    padding: 1em 0;
  }
}
// @media screen and (max-width: 767px) {}
// @media screen and (max-width: 575px) {}
