@use '../../../mixins';
@use '../../../vars';

section.most-popular-tours {
  padding: 6rem 0 0;
}

section.most-popular-tours .info-container {
  @include mixins.flex(space-between, flex-start);
  width: 92.5%;
  margin: 0 auto;
  h3 {
    position: relative;
    &::after {
      @include mixins.underLine(vars.$primary-color, 0, -0.5em);
    }
  }
  a {
    @include mixins.button(
      #000,
      #fff,
      1.05rem,
      0.4em 1.25em,
      7.5px,
      2px solid vars.$primary-color
    );
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: vars.$primary-color;
      color: #fff;
    }
  }
}

section.most-popular-tours .tours {
  @include mixins.flex(space-between, center);
  width: 92.5%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  section.most-popular-tours {
    padding: 5rem 0 0;
  }

  section.most-popular-tours .info-container a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  section.most-popular-tours {
    padding: 4rem 0 0;
  }

  section.most-popular-tours .info-container {
    a {
      font-size: 0.85rem;
    }
  }

  section.most-popular-tours .tours {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      position: relative;
      width: 42.5%;
      height: 400px;
      cursor: pointer;
      transition: transform 0.3s;
      border-radius: 5px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 0.75rem;
      }
    }

    div.tour .tour-info .general-info {
      width: 65%;
      h4 {
        font-size: 1.05rem;
        margin-bottom: 0.25rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      .score {
        font-size: 1.05rem;
      }
    }

    div.tour .tour-info .cost-info {
      h4 {
        font-size: 0.9rem;
        margin-right: 0.5rem;
      }
      span.cost {
        font-size: 1.05rem;
        padding: 0.15em 0.7em;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.most-popular-tours {
    padding: 3rem 0 0;
  }

  section.most-popular-tours .info-container {
    a {
      font-size: 0.7rem;
    }
  }

  section.most-popular-tours .tours {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 92.5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      width: 35%;
      height: 275px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 0.75rem;
      }
    }

    div.tour .tour-info {
      padding: 0.4rem 0.7rem;
    }

    div.tour .tour-info .general-info {
      h4 {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      .score {
        font-size: 0.8rem;
      }
    }

    div.tour .tour-info .cost-info {
      h4 {
        font-size: 0.65rem;
        margin-right: 0.5rem;
      }
      span.cost {
        font-size: 0.8rem;
        padding: 0.15em 0.7em;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.most-popular-tours {
    padding: 4rem 0 0;
  }

  section.most-popular-tours .info-container {
    width: 90%;
    a {
      display: none;
    }
  }

  section.most-popular-tours .tours {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      width: 250px;
      height: 300px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 0.75rem;
      }
    }

    div.tour .tour-info {
      padding: 0.4rem 0.8rem;
    }

    div.tour .tour-info .general-info {
      h4 {
        font-size: 0.8rem;
        margin-bottom: 0.15rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      .score {
        font-size: 0.8rem;
      }
    }

    div.tour .tour-info .cost-info {
      h4 {
        font-size: 0.65rem;
        margin-right: 0.5rem;
      }
      span.cost {
        font-size: 0.8rem;
        padding: 0.15em 0.7em;
      }
    }
  }
}
