@use '../../../mixins';
@use '../../../vars';

section.most-popular-tours {
  padding: 6rem 0 0;
}

section.most-popular-tours .info-container {
  @include mixins.flex(space-between, flex-start);
  width: 92.5%;
  margin: 0 auto;
  h3 {
    position: relative;
    &::after {
      @include mixins.underLine(vars.$primary-color, 0, -0.5em);
    }
  }
  a {
    @include mixins.button(
      #000,
      #fff,
      1.05rem,
      0.4em 1.25em,
      7.5px,
      2px solid vars.$primary-color
    );
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: vars.$primary-color;
      color: #fff;
    }
  }
}

section.most-popular-tours .tours {
  @include mixins.flex(space-between, center);
  width: 92.5%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  section.most-popular-tours {
    padding: 5rem 0 0;
  }

  section.most-popular-tours .info-container a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  section.most-popular-tours {
    padding: 4rem 0 0;
  }

  section.most-popular-tours .info-container {
    @include mixins.flex(space-between, flex-start);
    width: 92.5%;
    margin: 0 auto;
    h3 {
      position: relative;
      &::after {
        @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      }
    }
    a {
      @include mixins.button(
        #000,
        #fff,
        0.85rem,
        0.4em 1.25em,
        7.5px,
        2px solid vars.$primary-color
      );
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: vars.$primary-color;
        color: #fff;
      }
    }
  }

  section.most-popular-tours .tours {
    // @include mixins.flex(flex-start, center);
    // @include mixins.flex(space-between, center);
    // column-gap: 2rem;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 92.5%;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      position: relative;
      width: 42.5%;
      // width: 700px;
      height: 375px;
      cursor: pointer;
      transition: transform 0.3s;
      border-radius: 5px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 1.25rem;
      }
    }

    div.tour .tour-info .general-info {
      width: 65%;
      h4 {
        color: #fff;
        font-size: 1.05rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      @include mixins.flex(flex-start, center);
      .ratings {
        @include mixins.flex(space-between, center);
        width: 60%;
        svg {
          color: vars.$star-color;
          width: 17%;
          height: 100%;
        }
      }
      .score {
        @include mixins.flex(center, center);
        width: 25%;
        font-size: 1.05rem;
        color: #fff;
      }
    }

    div.tour .tour-info .cost-info {
      @include mixins.flex(space-between, center);
      h4 {
        color: vars.$secondary-text-color;
        font-weight: 400;
        font-size: 0.9rem;
        margin-right: 0.5rem;
      }
      span.cost {
        background-color: vars.$cost-color;
        color: #fff;
        font-size: 1.05rem;
        padding: 0.15em 0.7em;
        border-radius: 5px;
        text-align: center;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  section.most-popular-tours {
    padding: 3rem 0 0;
  }

  section.most-popular-tours .info-container {
    @include mixins.flex(space-between, flex-start);
    width: 92.5%;
    margin: 0 auto;
    h3 {
      position: relative;
      &::after {
        @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      }
    }
    a {
      @include mixins.button(
        #000,
        #fff,
        0.7rem,
        0.4em 1.25em,
        7.5px,
        2px solid vars.$primary-color
      );
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: vars.$primary-color;
        color: #fff;
      }
    }
  }

  section.most-popular-tours .tours {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 92.5%;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      position: relative;
      width: 34%;
      // width: 700px;
      height: 275px;
      cursor: pointer;
      transition: transform 0.3s;
      border-radius: 5px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 1.25rem;
      }
    }

    div.tour .tour-info {
      @include mixins.flex(space-between, center);
      padding: 0.5rem 0.9rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.45);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    div.tour .tour-info .general-info {
      width: 65%;
      h4 {
        color: #fff;
        font-size: 0.85rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      @include mixins.flex(flex-start, center);
      .ratings {
        @include mixins.flex(space-between, center);
        width: 60%;
        svg {
          color: vars.$star-color;
          width: 17%;
          height: 100%;
        }
      }
      .score {
        @include mixins.flex(center, center);
        width: 25%;
        font-size: 0.85rem;
        color: #fff;
      }
    }

    div.tour .tour-info .cost-info {
      @include mixins.flex(space-between, center);
      h4 {
        color: vars.$secondary-text-color;
        font-weight: 400;
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      span.cost {
        background-color: vars.$cost-color;
        color: #fff;
        font-size: 0.85rem;
        padding: 0.15em 0.7em;
        border-radius: 5px;
        text-align: center;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  section.most-popular-tours {
    padding: 3rem 0 0;
  }

  section.most-popular-tours .info-container {
    @include mixins.flex(space-between, flex-start);
    width: 90%;
    margin: 0 auto;
    h3 {
      position: relative;
      &::after {
        @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      }
    }
    a {
      @include mixins.button(
        #000,
        #fff,
        0.7rem,
        0.4em 1.25em,
        7.5px,
        2px solid vars.$primary-color
      );
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: vars.$primary-color;
        color: #fff;
      }
    }
  }

  section.most-popular-tours .tours {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    div.tour {
      display: inline-block;
      position: relative;
      width: 65%;
      // width: 700px;
      height: 275px;
      cursor: pointer;
      transition: transform 0.3s;
      border-radius: 5px;
      &:hover {
        transform: none;
      }
      &:not(:last-of-type) {
        margin-right: 0.75rem;
      }
    }

    div.tour .tour-info {
      @include mixins.flex(space-between, center);
      padding: 0.5rem 0.9rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.45);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    div.tour .tour-info .general-info {
      width: 65%;
      h4 {
        color: #fff;
        font-size: 0.85rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }
    }

    div.tour .tour-info .general-info .ratings-container {
      @include mixins.flex(flex-start, center);
      .ratings {
        @include mixins.flex(space-between, center);
        width: 60%;
        svg {
          color: vars.$star-color;
          width: 17%;
          height: 100%;
        }
      }
      .score {
        @include mixins.flex(center, center);
        width: 25%;
        font-size: 0.85rem;
        color: #fff;
      }
    }

    div.tour .tour-info .cost-info {
      @include mixins.flex(space-between, center);
      h4 {
        color: vars.$secondary-text-color;
        font-weight: 400;
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      span.cost {
        background-color: vars.$cost-color;
        color: #fff;
        font-size: 0.85rem;
        padding: 0.15em 0.7em;
        border-radius: 5px;
        text-align: center;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
