@use '../../../mixins';
@use '../../../vars';

section.most-popular-tours {
  padding: 6rem 0 0;
}

section.most-popular-tours .info-container {
  @include mixins.flex(space-between, flex-start);
  width: 92.5%;
  margin: 0 auto;
  h3 {
    position: relative;
    &::after {
      @include mixins.underLine(vars.$primary-color, 0, -0.5em);
    }
  }
  a {
    @include mixins.button(
      #000,
      #fff,
      1.05rem,
      0.4em 1.25em,
      7.5px,
      2px solid vars.$primary-color
    );
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: vars.$primary-color;
      color: #fff;
    }
  }
}

section.most-popular-tours .tours {
  @include mixins.flex(space-between, center);
  width: 92.5%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  section.most-popular-tours {
    padding: 5rem 0 0;
  }

  section.most-popular-tours .info-container {
    @include mixins.flex(space-between, flex-start);
    width: 92.5%;
    margin: 0 auto;
    h3 {
      position: relative;
      &::after {
        @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      }
    }
    a {
      @include mixins.button(
        #000,
        #fff,
        0.9rem,
        0.4em 1.25em,
        7.5px,
        2px solid vars.$primary-color
      );
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: vars.$primary-color;
        color: #fff;
      }
    }
  }

  section.most-popular-tours .tours {
    @include mixins.flex(space-between, center);
    width: 92.5%;
    margin: 0 auto;
  }
}

// @media screen and (max-width: 992px) {}
// @media screen and (max-width: 768px) {}
// @media screen and (max-width: 576px) {}
