@use '../../../mixins';
@use '../../../vars';

section.tour-experience .main-container {
  @include mixins.flex(center, center);
}

section.tour-experience .experience-details {
  max-height: 475px;
  width: 50%;
  padding: 0 4.5rem;
  h3 {
    position: relative;
    display: inline-block;
    &::after {
      @include mixins.underLine(vars.$primary-color, 0, -0.5em);
    }
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

section.tour-experience .image-container {
  width: 50%;
  img {
    max-height: 475px;
    width: 100%;
  }
  .experience-loader {
    width: 100%;
    height: 450px;
    animation: pulse 1.5s forwards infinite;
  }
}

@media screen and (max-width: 1200px) {
  section.tour-experience .experience-details {
    padding: 0 3.75rem;
    h3 {
      margin-bottom: 2rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 991px) {
  section.tour-experience .experience-details {
    padding: 0 2rem;
    h3 {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 0.85rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.4;
    }
  }

  // section.tour-experience .image-container {
  //   width: 50%;
  //   img {
  //     max-height: 475px;
  //     width: 100%;
  //   }
  //   .experience-loader {
  //     width: 100%;
  //     height: 450px;
  //     animation: pulse 1.5s forwards infinite;
  //   }
  // }
}
@media screen and (max-width: 767px) {
  section.tour-experience .experience-details {
    padding: 0 2rem;
    h3 {
      margin-bottom: 1.25rem;
    }
    p {
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.4;
    }
  }
}
@media screen and (max-width: 575px) {
  section.tour-experience .experience-details {
    width: 90%;
    h3 {
      position: relative;
      display: inline-block;
      &::after {
        @include mixins.underLine(vars.$primary-color, 0, -0.5em);
      }
      margin-bottom: 1.25rem;
    }
    padding: 1.5rem 0;
    p {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.4;
    }
  }

  section.tour-experience .image-container {
    width: 50%;
    display: none;
    img {
      max-height: 475px;
      width: 100%;
    }
    .experience-loader {
      width: 100%;
      height: 450px;
      animation: pulse 1.5s forwards infinite;
    }
  }
}
