@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background-color: #fff;
}

section {
  background-color: #fff;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-heading {
  font-size: 1.55rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3.25rem;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.tour-preview-loader {
  position: relative;
  width: 31%;
  height: 500px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
  animation: pulse 2s forwards infinite;
  &:hover {
    transform: scale(1.02);
  }
}

@keyframes pulse {
  0% {
    background-color: rgb(202, 202, 202);
  }
  50% {
    background-color: rgb(236, 236, 236);
  }
  100% {
    background-color: rgb(202, 202, 202);
  }
}

@keyframes initialShow {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .main-heading {
    font-size: 1.2rem;
    margin-bottom: 2.75rem;
  }
}
@media screen and (max-width: 991px) {
  .main-heading {
    font-size: 1.1rem;
    margin-bottom: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .main-heading {
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .main-heading {
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }
}
