$primary-color: #1aa483;
$secondary-color: #24856e;
$star-color: #f6c000;
$secondary-text-color: #e5e5e5;
$find-tour-btn-color: rgba(26, 164, 131, 0.9);
$cost-color: rgba(26, 164, 131, 0.75);
$review-country-from-color: rgba(26, 164, 131, 0.8);
$footer-color: #2c2c2c;
