@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background-color: #fff;
  background-color: #333;
}

section {
  background-color: #fff;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-heading {
  font-size: 1.55rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

@keyframes pulse {
  0% {
    background-color: #cacaca;
  }
  50% {
    background-color: #ececec;
  }
  100% {
    background-color: #cacaca;
  }
}
@keyframes initialShow {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
header {
  position: relative;
  background-color: #f7f7f7;
}

header .main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header h1.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
header h1.logo span {
  color: #1aa483;
}

header nav {
  min-width: 40%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  font-size: 1rem;
  padding: 1.1em 0;
}
header nav ul li a {
  color: #000;
  transition: 0.2s color;
  position: relative;
}
header nav ul li a:hover {
  color: #1aa483;
}
header nav ul li.selected a {
  color: #1aa483;
}

footer {
  background-color: #2c2c2c;
}

div.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.footer-container .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  font-size: 1.3rem;
  padding: 2em 0;
}
div.footer-container .links h3 {
  font-size: inherit;
  font-weight: 400;
  color: #fff;
  text-align: end;
}
div.footer-container .links ul {
  margin-top: 1.5rem;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #cdcdcd;
  text-align: end;
}
div.footer-container .links ul li:not(:first-child) {
  margin-top: 1rem;
}
div.footer-container .links .social {
  width: 50%;
}
div.footer-container .links .social h3 {
  text-align: start;
}
div.footer-container .links .social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
div.footer-container .links .social ul li {
  width: 6%;
}
div.footer-container .links .social ul li a {
  color: transparent;
  display: inline-block;
  width: 100%;
  height: 100%;
}
div.footer-container .links .social ul li svg {
  width: 100%;
  height: 100%;
  color: #cdcdcd;
  transition: color 0.3s ease;
}
div.footer-container .links .social ul li.facebook-icon:hover svg {
  color: #4267b2;
}
div.footer-container .links .social ul li.twitter-icon:hover svg {
  color: #1da1f2;
}
div.footer-container .links .social ul li:last-child {
  margin-top: 0;
}
div.footer-container .links .social ul li:not(:last-child) {
  margin-right: 1.5rem;
}
div.footer-container .links .contacts,
div.footer-container .links .company {
  width: 25%;
}
div.footer-container .links .contacts ul li a,
div.footer-container .links .company ul li a {
  color: #cdcdcd;
  transition: 0.2s color;
}
div.footer-container .links .contacts ul li a:hover,
div.footer-container .links .company ul li a:hover {
  color: #1aa483;
}

div.footer-container .copyright {
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  padding: 1em 0;
}
div.footer-container .copyright h2 {
  font-size: inherit;
  font-weight: 400;
}

div.tour {
  position: relative;
  width: 31%;
  height: 500px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
}
div.tour:hover {
  transform: scale(1.02);
}

div.tour .tour-image {
  position: relative;
  height: inherit;
  border-radius: inherit;
}
div.tour .tour-image img {
  border-radius: inherit;
}
div.tour .tour-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: inherit;
}

div.tour .tour-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.tour .tour-info .general-info {
  width: 65%;
}
div.tour .tour-info .general-info h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

div.tour .tour-info .general-info .ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
div.tour .tour-info .general-info .ratings-container .ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
div.tour .tour-info .general-info .ratings-container .ratings svg {
  color: #f6c000;
  width: 17%;
  height: 100%;
}
div.tour .tour-info .general-info .ratings-container .score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-size: 1.25rem;
  color: #fff;
}

div.tour .tour-info .cost-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 32.5%;
}
div.tour .tour-info .cost-info h4 {
  color: #e5e5e5;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 0.75rem;
}
div.tour .tour-info .cost-info span.cost {
  background-color: rgba(26, 164, 131, 0.75);
  color: #fff;
  font-size: 1.25rem;
  padding: 0.15em 0.7em;
  border-radius: 5px;
  text-align: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.tour .tour-info .cost-info span.cost::-webkit-scrollbar {
  display: none;
}

section.showcase .main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 2rem;
  z-index: 0;
}
section.showcase .main-container::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

section.showcase .encouraging-msg {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-30%, -25%);
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1.25rem 1.75rem;
  border-radius: 5px;
  z-index: 2;
}
section.showcase .encouraging-msg h2 {
  font-size: 1.5rem;
  margin-right: 3.5rem;
  line-height: 1.6;
  letter-spacing: 0.085em;
  color: #fff;
}

section.showcase .find-tour-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 1.2rem;
  padding: 0.5em 0.75em;
  border-radius: 7.5px;
  width: 45%;
  z-index: 2;
}
section.showcase .find-tour-container button {
  font-size: inherit;
  padding: 0.6em 0;
  width: 50%;
  color: #fff;
  background-color: rgba(26, 164, 131, 0.9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  margin-left: 0.75em;
}

section.showcase .find-tour-container .custom-select {
  position: relative;
  width: 50%;
}
section.showcase .find-tour-container .custom-select select {
  width: 100%;
  padding: 0.6em 1em;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  cursor: pointer;
}
section.showcase .find-tour-container .custom-select select::-ms-expand {
  display: none;
}
section.showcase .find-tour-container .custom-select svg {
  position: absolute;
  content: "";
  font-size: inherit;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #fff;
  width: 5%;
}

section.about-us .main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.about-us .image-container,
section.about-us .about-us-content {
  width: 50%;
}

section.about-us .image-container {
  position: relative;
  z-index: 0;
}
section.about-us .image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1;
}

section.about-us .about-us-content {
  padding: 0 4.5rem;
}
section.about-us .about-us-content h3 {
  position: relative;
  display: inline-block;
}
section.about-us .about-us-content h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}
section.about-us .about-us-content p {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
}

section.most-popular-tours {
  padding: 6rem 0;
}

section.most-popular-tours .info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 92.5%;
  margin: 0 auto;
}
section.most-popular-tours .info-container h3 {
  position: relative;
}
section.most-popular-tours .info-container h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}
section.most-popular-tours .info-container a {
  font-size: 1.05rem;
  padding: 0.5em 1.25em;
  width: auto;
  color: #000;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 7.5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
section.most-popular-tours .info-container a:hover {
  background-color: #1aa483;
  color: #fff;
}

section.most-popular-tours .tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92.5%;
  margin: 0 auto;
}

section.agency-reviews .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.agency-reviews h3 {
  position: relative;
}
section.agency-reviews h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: -0.5em;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}

section.agency-reviews .reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  min-height: 175px;
  height: 1px;
}

div.agency-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 31%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 0.6em 0.8em;
  transition: transform 0.3s, background-color 0.2s, color 0.2s;
}
div.agency-review p {
  font-style: italic;
  font-weight: 300;
  font-size: inherit;
  width: 100%;
}
div.agency-review h5 {
  align-self: flex-end;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: end;
  color: #797979;
  transition: color 0.2s;
}
div.agency-review h5 span {
  color: rgba(26, 164, 131, 0.8);
  transition: inherit;
}
div.agency-review:hover {
  transform: scale(1.05);
  background-color: #1aa483;
  color: #fff;
}
div.agency-review:hover h5 {
  color: #f0f0f0;
}
div.agency-review:hover h5 span {
  color: #fff;
}

div.images {
  padding: 6rem 0 4rem;
  background-color: #fff;
}

div.images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 310px;
  height: 1px;
}

div.images-container .img {
  width: 32%;
  height: 100%;
}

section.all-tours-showcase .main-container {
  position: relative;
}

section.all-tours-showcase .image-container img {
  max-height: 300px;
}

section.all-tours-showcase h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5em 1.75em;
  background-color: rgba(0, 0, 0, 0.45);
  letter-spacing: 1px;
  border-radius: 5px;
}

section.all-tours-content-container {
  padding: 4rem 0;
}

section.all-tours-content-container .all-tours-container {
  width: 92.5%;
  margin: 0 auto;
}

section.all-tours-content-container .all-tours-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
section.all-tours-content-container .all-tours-info h3 {
  position: relative;
}
section.all-tours-content-container .all-tours-info h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
  position: absolute;
}

section.all-tours-content-container .all-tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3rem;
}

section.all-tours-content-container .all-tours-container > button {
  font-size: 1rem;
  padding: 1em;
  width: 100%;
  color: #fff;
  background-color: #1aa483;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
  transition: background-color 0.2s;
}
section.all-tours-content-container .all-tours-container > button:hover {
  background-color: #24856e;
}

section.all-tours-content-container .all-tours-info .filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}
section.all-tours-content-container .all-tours-info .filters h4 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 2rem;
}
section.all-tours-content-container .all-tours-info .filters .filters-container > button {
  font-size: 0.9rem;
  padding: 0.35em 1em;
  width: auto;
  color: #000;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 7.5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
section.all-tours-content-container .all-tours-info .filters .filters-container > button.selected {
  background-color: #1aa483;
  color: #fff;
}
section.all-tours-content-container .all-tours-info .filters .filters-container > button:not(:last-of-type) {
  margin-right: 1.5rem;
}
section.all-tours-content-container .all-tours-info .filters .filters-container > button:hover {
  background-color: #24856e;
  color: #fff;
}
section.all-tours-content-container .all-tours-info .filters .filters-container {
  position: relative;
}

.filters-container .ratings-filter {
  position: absolute;
  top: 2.75em;
  right: 0;
  font-size: 1rem;
  padding: 0.75em 1em;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 7.5px;
}

.filters-container .ratings-filter .ratings-row {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.filters-container .ratings-filter .ratings-row:not(:last-of-type) {
  margin-bottom: 10px;
}

.filters-container .ratings-filter .ratings-row > input[type=checkbox] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.filters-container .ratings-filter .ratings-row > input[type=checkbox] + *::before {
  content: "";
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  border: #ededed solid 0.1rem;
  border-radius: 3px;
  background-color: #ededed;
  margin-right: 11px;
}

.filters-container .ratings-filter .ratings-row > input[type=checkbox]:checked + *::before {
  content: "";
  text-align: center;
  background: #1aa483;
  border-color: #1aa483;
}

.filters-container .ratings-filter .ratings-row > input[type=checkbox] + span {
  display: flex;
  align-items: center;
}
.filters-container .ratings-filter .ratings-row > input[type=checkbox] + span svg {
  color: #f6c000;
  width: 1.3rem;
  height: 100%;
}
.filters-container .ratings-filter .ratings-row > input[type=checkbox] + span svg:not(:last-of-type) {
  margin-right: 5px;
}

.filters-container .ratings-filter > button {
  font-size: 0.9rem;
  padding: 0.3em 1em;
  width: 100%;
  color: #fff;
  background-color: #1aa483;
  border: 2px solid #1aa483;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.75rem;
  transition: 0.3s background-color, 0.2s border-color;
}
.filters-container .ratings-filter > button:hover {
  background-color: #24856e;
  border-color: #24856e;
}

.filters-container .price-filter {
  position: absolute;
  top: 2.75em;
  right: 0;
  font-size: 1rem;
  padding: 0.75em 1em;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 7.5px;
  width: 80%;
}

.filters-container .price-filter .price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filters-container .price-filter .price-container .from-container,
.filters-container .price-filter .price-container .to-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 47.5%;
}
.filters-container .price-filter .price-container .from-container span,
.filters-container .price-filter .price-container .to-container span {
  color: #5e5e5e;
  font-size: 0.8rem;
}
.filters-container .price-filter .price-container .from-container input[type=text],
.filters-container .price-filter .price-container .to-container input[type=text] {
  display: block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.25em;
  text-align: center;
  outline: none;
  margin: 0.5rem 0;
}

.filters-container .price-filter > button {
  font-size: 0.9rem;
  padding: 0.3em 1em;
  width: 100%;
  color: #fff;
  background-color: #1aa483;
  border: 2px solid #1aa483;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s background-color, 0.2s border-color;
}
.filters-container .price-filter > button:hover {
  background-color: #24856e;
  border-color: #24856e;
}

.filters-container .country-filter {
  position: absolute;
  top: 2.75em;
  left: 0;
  font-size: 1rem;
  padding: 0.75em 1em;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 7.5px;
  width: 80%;
}

.filters-container .country-filter .countries-container {
  margin-bottom: 0.5rem;
}

.filters-container .country-filter .country-row {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.filters-container .country-filter .country-row:not(:last-of-type) {
  margin-bottom: 7.5px;
}

.filters-container .country-filter .country-row > input[type=checkbox] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.filters-container .country-filter .country-row > input[type=checkbox] + *::before {
  content: "";
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  border: #ededed solid 0.1rem;
  border-radius: 3px;
  background-color: #ededed;
  margin-right: 11px;
}

.filters-container .country-filter .country-row > input[type=checkbox]:checked + *::before {
  content: "";
  text-align: center;
  background: #1aa483;
  border-color: #1aa483;
}

.filters-container .country-filter .country-row > input[type=checkbox] + span {
  display: flex;
  align-items: center;
}
.filters-container .country-filter .country-row > input[type=checkbox] + span svg {
  color: #f6c000;
  width: 1.3rem;
  height: 100%;
}
.filters-container .country-filter .country-row > input[type=checkbox] + span svg:not(:last-of-type) {
  margin-right: 5px;
}

.filters-container .country-filter > button {
  font-size: 0.9rem;
  padding: 0.3em 1em;
  width: 100%;
  color: #fff;
  background-color: #1aa483;
  border: 2px solid #1aa483;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s background-color, 0.2s border-color;
}
.filters-container .country-filter > button:hover {
  background-color: #24856e;
  border-color: #24856e;
}

section.tour-showcase .main-container {
  position: relative;
  z-index: 0;
}
section.tour-showcase .main-container::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.075);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

section.tour-showcase .images-container {
  z-index: 0;
  min-height: 700px;
  height: 1px;
}
section.tour-showcase .images-container .slide {
  height: 100%;
  width: 100%;
  display: none;
  animation: fade 0.5s forwards;
}
section.tour-showcase .images-container .loader {
  height: 100%;
  width: 100%;
  animation: pulse 1.5s forwards infinite;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

section.tour-showcase .slider {
  position: absolute;
  top: 0;
  width: 20%;
  bottom: 0;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;
  z-index: 2;
  animation: initialShow 3s;
}
section.tour-showcase .slider:hover {
  opacity: 1;
}
section.tour-showcase .slider svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.9rem;
  color: #fff;
}
section.tour-showcase .slider.previous-slider {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  left: 0;
}
section.tour-showcase .slider.previous-slider svg {
  left: 10%;
}
section.tour-showcase .slider.next-slider {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  right: 0;
}
section.tour-showcase .slider.next-slider svg {
  right: 10%;
}

section.tour-showcase .images-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
section.tour-showcase .images-dots .dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
section.tour-showcase .images-dots .dot:not(:last-of-type) {
  margin-right: 1.5rem;
}
section.tour-showcase .images-dots .dot.current {
  transform: scale(1.2);
  position: relative;
}
section.tour-showcase .images-dots .dot.current::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: inherit;
  background-color: #1aa483;
}

section.tour-showcase .tour-info-container {
  position: absolute;
  top: 7.5%;
  left: 20%;
  transform: translate(-20%, -15%);
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1.25rem 1.75rem;
  min-width: 24%;
  border-radius: 5px;
  z-index: 2;
}
section.tour-showcase .tour-info-container h2 {
  font-size: 1.5rem;
  margin-right: 3.5rem;
  line-height: 1.6;
  letter-spacing: 0.085em;
  color: #fff;
}
section.tour-showcase .tour-info-container h3 {
  color: #eeeeee;
  font-weight: 400;
  font-size: 1.1rem;
}

section.tour-experience .main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.tour-experience .experience-deatils {
  width: 50%;
  padding: 0 4.5rem;
}
section.tour-experience .experience-deatils h3 {
  position: relative;
  display: inline-block;
}
section.tour-experience .experience-deatils h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}
section.tour-experience .experience-deatils p {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
}

section.tour-experience .image-container {
  width: 50%;
}
section.tour-experience .image-container img {
  width: 100%;
}
section.tour-experience .image-container .loader {
  width: 100%;
  height: 300px;
  animation: pulse 1.5s forwards infinite;
}

section.tour-reviews {
  padding: 6rem 0;
}
section.tour-reviews h3 {
  position: relative;
}
section.tour-reviews h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: -0.5em;
  right: -0.5em;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}
section.tour-reviews .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.tour-reviews .tour-reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

div.tour-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 31%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #1aa483;
  border-radius: 10px;
  font-size: 1.15rem;
  padding: 0.75em 1em;
  transition: transform 0.3s;
}
div.tour-review h4 {
  font-size: inherit;
  font-weight: 400;
}
div.tour-review .ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.35rem 0 0.6em;
  width: 35%;
}
div.tour-review .ratings svg {
  color: #f6c000;
  width: 17%;
  height: 100%;
}
div.tour-review .ratings svg:not(:last-child) {
  margin-right: 0.25rem;
}
div.tour-review p {
  text-align: center;
  font-size: 1.05rem;
  color: #626262;
  width: 100%;
}
div.tour-review:hover {
  transform: scale(1.05);
}

section.tour-booking {
  padding-bottom: 4rem;
}

section.tour-booking .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
section.tour-booking .inner-container h3 {
  position: relative;
  width: 100%;
  text-align: center;
}
section.tour-booking .inner-container h3::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: 0;
  background-color: #1aa483;
  height: 0.15em;
  border-radius: 5px;
}

section.tour-booking .booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section.tour-booking .booking-container .booking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.tour-booking .booking-container .options,
section.tour-booking .booking-container form {
  width: 48%;
  min-height: 200px;
}

section.tour-booking .booking-container .standard,
section.tour-booking .booking-container .premium {
  font-size: 1.25rem;
  padding: 1em 1.5em;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 2px solid #24856e;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}
section.tour-booking .booking-container .standard .info,
section.tour-booking .booking-container .premium .info {
  text-align: start;
}
section.tour-booking .booking-container .standard h4,
section.tour-booking .booking-container .premium h4 {
  font-size: inherit;
  font-weight: 400;
}
section.tour-booking .booking-container .standard h5,
section.tour-booking .booking-container .premium h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #6b6b6b;
  margin-top: 0.25rem;
  transition: color 0.2s;
}
section.tour-booking .booking-container .standard.selected, section.tour-booking .booking-container .standard:hover,
section.tour-booking .booking-container .premium.selected,
section.tour-booking .booking-container .premium:hover {
  background-color: #24856e;
  color: #fff;
}
section.tour-booking .booking-container .standard.selected h5, section.tour-booking .booking-container .standard:hover h5,
section.tour-booking .booking-container .premium.selected h5,
section.tour-booking .booking-container .premium:hover h5 {
  color: #efefef;
}

section.tour-booking .booking-container .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section.tour-booking .booking-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.tour-booking .booking-container form input {
  background-color: #fff;
  color: #000;
  border: 2px solid #1aa483;
  width: 100%;
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 5px;
}

section.tour-booking .booking-container > button {
  font-size: 1rem;
  padding: 1em;
  width: 100%;
  color: #fff;
  background-color: #1aa483;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.2s;
}
section.tour-booking .booking-container > button:hover {
  background-color: #24856e;
}

/*# sourceMappingURL=style.css.map */
