@use '../../../mixins';

div.images {
  padding: 6rem 0 4rem;
  background-color: #fff;
}

div.images-container {
  @include mixins.flex(space-between, center);
  width: 100%;
  min-height: 310px;
  height: 1px;
}

div.images-container .img {
  width: 32%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  div.images {
    padding: 5rem 0 3rem;
  }

  div.images-container {
    min-height: 240px;
  }
}

@media screen and (max-width: 991px) {
  div.images {
    padding: 4rem 0 2.5rem;
    background-color: #fff;
  }

  div.images-container {
    @include mixins.flex(space-between, center);
    width: 100%;
    min-height: 180px;
    height: 1px;
  }

  div.images-container .img {
    width: 32%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  div.images {
    padding: 3rem 0 2rem;
    background-color: #fff;
  }

  div.images-container {
    @include mixins.flex(space-between, center);
    width: 100%;
    min-height: 150px;
    height: 1px;
  }

  div.images-container .img {
    width: 32%;
    height: 100%;
  }
}
// @media screen and (max-width: 575px) {}
